/student-projects/Project-15-UnitTesting/target/classes/com/evaitcs/unittesting/CartItem.class
/student-projects/Project-15-UnitTesting/target/surefire-reports/com.evaitcs.unittesting.DiscountCalculatorTest$EdgeCaseTests.txt
/student-projects/Project-15-UnitTesting/target/surefire-reports/com.evaitcs.unittesting.DiscountCalculatorTest.txt
/student-projects/Project-15-UnitTesting/target/surefire-reports/com.evaitcs.unittesting.ShoppingCartTest.txt
/student-projects/Project-15-UnitTesting/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/student-projects/Project-15-UnitTesting/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
/student-projects/Project-15-UnitTesting/target/classes/com/evaitcs/unittesting/DiscountCalculator.class
/student-projects/Project-15-UnitTesting/target/test-classes/com/evaitcs/unittesting/DiscountCalculatorTest$EdgeCaseTests.class
/student-projects/Project-15-UnitTesting/target/test-classes/com/evaitcs/unittesting/DiscountCalculatorTest.class
/student-projects/Project-15-UnitTesting/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/student-projects/Project-15-UnitTesting/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/student-projects/Project-15-UnitTesting/target/maven-archiver/pom.properties
/student-projects/Project-15-UnitTesting/target/project-15-unittesting-1.0-SNAPSHOT.jar
/student-projects/Project-15-UnitTesting/target/classes/com/evaitcs/unittesting/ShoppingCart.class
/student-projects/Project-15-UnitTesting/target/test-classes/com/evaitcs/unittesting/ShoppingCartTest.class
/student-projects/Project-15-UnitTesting/target/surefire-reports/TEST-com.evaitcs.unittesting.DiscountCalculatorTest$EdgeCaseTests.xml
/student-projects/Project-15-UnitTesting/target/surefire-reports/TEST-com.evaitcs.unittesting.DiscountCalculatorTest.xml
/student-projects/Project-15-UnitTesting/target/surefire-reports/TEST-com.evaitcs.unittesting.ShoppingCartTest.xml
